USE [master]
GO
/****** Object:  Database [Mercado]    Script Date: 15/6/2022 22:38:43 ******/
CREATE DATABASE [Mercado]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Mercado', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Mercado.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Mercado_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Mercado_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Mercado].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Mercado]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 15/6/2022 22:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Telefono] [int] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DescripcionProductos]    Script Date: 15/6/2022 22:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DescripcionProductos](
	[IdFactura] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Precio] [decimal](18, 0) NOT NULL,
	[CantidadVendida] [decimal](18, 0) NOT NULL,
	[NombreProducto] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DescripcionProductos] PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 15/6/2022 22:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[NombreCliente] [nvarchar](50) NOT NULL,
	[Subtotal] [decimal](18, 0) NOT NULL,
	[IVA] [decimal](18, 0) NOT NULL,
	[Total] [decimal](18, 0) NOT NULL,
	[FechaFactura] [datetime] NOT NULL,
 CONSTRAINT [PK_Facturas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 15/6/2022 22:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Precio] [decimal](18, 0) NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [Telefono]) VALUES (1, N'Byron', N'Samayoa', 86194002)
INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [Telefono]) VALUES (2, N'Aurelio', N'Reyes', 87875665)
INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [Telefono]) VALUES (3, N'Carles', N'Puyol', 89898888)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Facturas] ON 

INSERT [dbo].[Facturas] ([Id], [IdCliente], [NombreCliente], [Subtotal], [IVA], [Total], [FechaFactura]) VALUES (1, 1, N'Byron', CAST(28 AS Decimal(18, 0)), CAST(4 AS Decimal(18, 0)), CAST(32 AS Decimal(18, 0)), CAST(N'2022-06-15T22:21:53.840' AS DateTime))
INSERT [dbo].[Facturas] ([Id], [IdCliente], [NombreCliente], [Subtotal], [IVA], [Total], [FechaFactura]) VALUES (2, 2, N'Aurelio', CAST(20 AS Decimal(18, 0)), CAST(3 AS Decimal(18, 0)), CAST(23 AS Decimal(18, 0)), CAST(N'2022-06-15T22:22:23.207' AS DateTime))
INSERT [dbo].[Facturas] ([Id], [IdCliente], [NombreCliente], [Subtotal], [IVA], [Total], [FechaFactura]) VALUES (3, 3, N'Carles', CAST(60 AS Decimal(18, 0)), CAST(9 AS Decimal(18, 0)), CAST(69 AS Decimal(18, 0)), CAST(N'2022-06-15T22:34:51.230' AS DateTime))
SET IDENTITY_INSERT [dbo].[Facturas] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Nombre], [Precio], [Cantidad]) VALUES (1, N'Agua', CAST(10 AS Decimal(18, 0)), 197)
INSERT [dbo].[Productos] ([Id], [Nombre], [Precio], [Cantidad]) VALUES (2, N'Pan', CAST(18 AS Decimal(18, 0)), 99)
INSERT [dbo].[Productos] ([Id], [Nombre], [Precio], [Cantidad]) VALUES (3, N'Avena', CAST(30 AS Decimal(18, 0)), 200)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
USE [master]
GO
